/* 
    START - Master Reset
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
/* 
    END - Master Reset
*/

/* 
    START - Background
*/
.bg-purple{
    background: #361450 !important;
}

.bg-yellow{
    background: #FEBF0F !important;
}

.bg-white{
    background: #EEEEEE !important;
}

.bg-black{
    background: #111111 !important;
}
/* 
    END - Background
*/

/* 
    START - Color
*/
.text-purple{
    color: #361450 !important;
}

.text-yellow{
    color: #FEBF0F !important;
}

.text-white{
    color: #EEEEEE !important;
}

.text-black{
    color: #111111 !important;
}
/* 
    END - Color
*/

/* 
    START - Font
*/
.font-roboto{
    font-family: Roboto, sans-serif !important;
}

.font-raleway{
    font-family: Raleway, sans-serif !important;
}
/* 
    END - Font
*/

/* 
    START - Border
*/
.border-purple{
    border: solid 1px #361450 !important;
}

.border-top-purple{
    border-top: solid 1px #361450 !important;
}

.border-bottom-purple{
    border-bottom: solid 1px #361450 !important;
}

.border-right-purple{
    border-right: solid 1px #361450 !important;
}

.border-left-purple{
    border-left: solid 1px #361450 !important;
}

.border-yellow{
    border: solid 1px #FEBF0F !important;
}

.border-top-yellow{
    border-top: solid 1px #FEBF0F !important;
}

.border-bottom-yellow{
    border-bottom: solid 1px #FEBF0F !important;
}

.border-right-yellow{
    border-right: solid 1px #FEBF0F !important;
}

.border-left-yellow{
    border-left: solid 1px #FEBF0F !important;
}

.border-black{
    border: solid 1px #111111 !important;
}

.border-top-black{
    border-top: solid 1px #111111 !important;
}

.border-bottom-black{
    border-bottom: solid 1px #111111 !important;
}

.border-right-black{
    border-right: solid 1px #111111 !important;
}

.border-left-black{
    border-left: solid 1px #111111 !important;
}

.border-white{
    border: solid 1px #EEEEEE !important;
}

.border-top-white{
    border-top: solid 1px #EEEEEE !important;
}

.border-bottom-white{
    border-bottom: solid 1px #EEEEEE !important;
}

.border-right-white{
    border-right: solid 1px #EEEEEE !important;
}

.border-left-white{
    border-left: solid 1px #EEEEEE !important;
}

/* 
    END - Border
*/

/* 
    START - Button
*/

.btn-purple{
    background: #361450;
    color: #FFF;
}

.btn-yellow{
    background: #FEBF0F;
    color: #FFF;
}

.btn-outline-purple{
    border-color: #361450;
    color: #361450;
    background: #FFF;
}

.btn-outline-purple:hover{
    border-color: transparent;
    background: #361450;
    color: #FFF;
}

.btn-outline-yellow{
    border-color: #FEBF0F;
    color: #FEBF0F;
    background: #FFF;
}

.btn-outline-yellow:hover{
    border-color: transparent;
    background: #FEBF0F;
    color: #FFF;
}

.option:hover{
    cursor: pointer;
}

.cancel-button{
    font-size: 1.6rem;
}

.cancel-button:hover{
    cursor: pointer;
}
/* 
    END - Button
*/