.primary-bg {
    background: #361450 !important;
}

.height {
    height: 100vh;
}

h4 {
    font-size: 1.125rem;
    font-weight: 500;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

p {
    font-family: 'Raleway', sans-serif;
}

.shadow {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.bottom-shadow {
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
}

.question {
    font-family: 'Raleway', sans-serif;
    color: white;
    letter-spacing: 1px;
    line-height: 1.7;
}

.question-number {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    color: white;
}

.w-100 {
    width: 100%;
}

.nav-light {
    background-color: #EEEEEE;
}

.navbar {
    height: 60px !important;
}

.nav-item {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.student-name > h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.inline {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.total-questions {
    font-size: 1.2rem;
}

.answered-questions {
    font-size: 1.2rem;
}

.unanswered-questions {
    font-size: 1.2rem;
}

.info-bar {
    width: 100%;
    height: 80px;
    background-color: #EEEEEE;
}

.c-m-l-250 {
    margin-left: 250px;
}

.cs-sidebar{
    width: 250px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
}

.option:hover{
    cursor: pointer;
}

.cs-border > .option{
    border-top: solid 1px rgba(0, 0, 0, 0.2);
    border-left: solid 1px rgba(0, 0, 0, 0.2);
    border-right: solid 1px rgba(0, 0, 0, 0.2);
}

.cs-border:last-child{
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}
.cs-border-right{
    border-right: solid 1px rgba(0, 0, 0, 0.2);
}

.navigation:hover{
    cursor: pointer;
}
@media (max-width:540px) {
    .cs-sidebar {
        position: relative;
        width: 100%;
        z-index: 1;
        height: auto;
        overflow-x: hidden;
    }
    
    .c-m-l-250{
        margin: 0;
        margin-top: 30px;
    }
}
